<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         version="2.5">
  <!--<servlet>-->
  <!--<servlet-name>AddRegistrationServlet</servlet-name>-->
  <!--<display-name>Add diner registration Servlet</display-name>-->
  <!--<servlet-class>be.onshageland.galabal.diner.AddDinerRegistrationServlet</servlet-class>-->
  <!--<load-on-startup>1</load-on-startup>-->
  <!--</servlet>-->

  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <display-name>Download diner registrations Servlet</display-name>
    <servlet-class>be.onshageland.galabal.diner.DownloadDinerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!--<servlet>-->
  <!--<servlet-name>AddBusRegistrationServlet</servlet-name>-->
  <!--<display-name>Add bus registration Servlet</display-name>-->
  <!--<servlet-class>be.onshageland.galabal.bus.AddBusRegistrationServlet</servlet-class>-->
  <!--<load-on-startup>1</load-on-startup>-->
  <!--</servlet>-->

  <servlet>
    <servlet-name>DownloadBusServlet</servlet-name>
    <display-name>Download bus registrations Servlet</display-name>
    <servlet-class>be.onshageland.galabal.bus.DownloadBusServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!--<servlet-mapping>-->
  <!--<servlet-name>AddRegistrationServlet</servlet-name>-->
  <!--<url-pattern>/diner/add</url-pattern>-->
  <!--</servlet-mapping>-->

  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/diner/download</url-pattern>
  </servlet-mapping>

  <!--<servlet-mapping>-->
  <!--<servlet-name>AddBusRegistrationServlet</servlet-name>-->
  <!--<url-pattern>/bus/add</url-pattern>-->
  <!--</servlet-mapping>-->

  <servlet-mapping>
    <servlet-name>DownloadBusServlet</servlet-name>
    <url-pattern>/bus/download</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
